.UserGallery {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 30px;
}

.UserGallery > h1 {
    font-weight: bold;
}

.UserGallery .search {
    border: none;
    border-bottom: 1px solid rgb(220, 220, 220);
    padding: 15px 0 15px 20px;

}

.UserGallery .search:focus {
    outline: none;
    border-bottom: 1px solid rgb(230, 41, 189);
}

.UserGallery .file {
    display: none;
}

.UserGallery .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.UserGallery .image-gallery {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.UserGallery .image-card .image-actions {
    display: flex;
    width: 300px;
    margin: 10px auto 0 auto;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.UserGallery .image-card .image-actions button {
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;

}

.UserGallery .image-card>img {
    width: 100%;
    overflow: hidden;
    border: 1px solid #eee;
    border-radius: 20px;

}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.modal-content button {
    margin: 0 10px;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.selected-image {
    max-width: 100%;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}