
body {
  padding: 50px 24px;
}
img {
  display: block;
  width: 100%;
}
.gallery-wrap ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  list-style-type: none;
}
.gallery-wrap ul li {
  width: 50px;
  height: 50px;
  overflow: hidden;
  outline: 1px solid #fff;
}
.gallery-wrap ul li img {
  width: 100%;
  height: 100%;
}
.modal {
  position: fixed;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal img{
  margin: 0 auto;
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
}
.modal button {
  display: block;
  margin: 30px auto 0;
}