/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: "Bagel Fat One", system-ui;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {text-decoration: none; outline: none; color: inherit;font-family: "Bagel Fat One", system-ui;}
a:hover, a:active {text-decoration: none;}
button {border: none; background-color: unset; cursor: pointer;}
input {border: none; background-color: unset; font-family: "Bagel Fat One", system-ui;}
input:focus {outline:none;}
p,span,strong,em {font-family: "Bagel Fat One", system-ui;}
.hide-txt {
  position: absolute;
  overflow: hidden;
  clip: rect(0,0,0,0);
  width: 1px;
  height: 1px;
  margin: -1px;
}





/* intro */
.intro {
	width: 100%;
	height: 100vh;
	background-color: pink;
	opacity: 0;
  z-index: 100;
}



/* header */
header {
  display: flex;
  align-items: center;
  height: 15vh;
  padding: 0 44px;
}
section {
  padding: 0 24px;
  overflow: hidden;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


main {
  height: calc(100vh - 15vh);
  padding: 0 24px;
}

/* 슬라이드 */
.mySwiper {
  display: flex;
  flex-direction: column;
  height: 85% !important;
}
.swiper-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}
.mySwiper .swiper-slide {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 10px;
}
.swiper-slide div {
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  transform: scale(1);
  transition: 0.3s;
}
.mySwiper .swiper-slide a {
  height: 100%;
  display: block;
  transition: 0.5s;
}
.mySwiper .swiper-slide a:first-child {
  display: block;
  width: 50%;
}
.mySwiper .swiper-slide a:not(:first-child) {
  display: block;
  width: 25%;
}

.swiper-slide a:nth-child(1) div {
  border-radius: 30px;
  background: pink;
}
.mySwiper .swiper-slide a:not(:first-child) div {
  display: block;
  border-radius: 30px;
  background-color: lightblue;
}


.swiper-slide.wrap a:first-child div {
  animation-name: slide-in-right;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-delay: 0.2s;
  animation-timing-function: ease-in-out;
}
.swiper-slide.wrap a:nth-child(2) div  {
  animation-name: slide-in-right;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-delay: 0.3s;
  animation-timing-function: ease-in-out;
}
.swiper-slide.wrap a:last-child  div  {
  animation-name: slide-in-right;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-delay: 0.4s;
  animation-timing-function: ease-in-out;
}




/* 슬라이드 애니메이션 */
.swiper-slide div:hover {
  transform: scale(0.95);
  transition: 0.3s;
}
.mySwiper .swiper-slide.swiper-slide-active a:first-child {
  width: 50%;
  transition-delay: 0.3s;
  transition-duration: all 1s;
}
.mySwiper .swiper-slide.swiper-slide-next a:first-child {
  display: block;
  width: 150%;
}
.mySwiper .swiper-slide.swiper-slide-prev a:first-child{
  width: 50%;
} 

.mySwiper .swiper-slide.swiper-slide-prev a:nth-child(2){
  transform: translateX(0);
}
.mySwiper .swiper-slide.swiper-slide-prev a:nth-child(3){
  transform: translateX(0);
}
.mySwiper .swiper-slide.swiper-slide-next a:nth-child(2){
  transform: translateX(400px);
}
.mySwiper .swiper-slide.swiper-slide-next a:nth-child(3){
  transform: translateX(400px);
}
.mySwiper .swiper-slide.swiper-slide-active a:nth-child(2){
  transform: translateX(0);
  transition-delay: 0.4s;
  transition-duration: all 0.2s;
}
.mySwiper .swiper-slide.swiper-slide-active a:nth-child(3){
  transform: translateX(0);
  transition-delay: 0.5s;
  transition-duration: all 0.2s;
}


@keyframes slide-in-right {
  0% {
      transform: translateX(5000px);
  }
  100% {
      transform: translateX(0);
  }
}


/* 불렛 */
.indigator-wrap {
  height: 15%;
  position: relative;
  width: 200px;
  min-width: 200px;
  display: flex;
  align-items: center;
  transform: translateX(-50%);
  left: 50%;
  animation: slide-in-right 0.5s linear 0.2s backwards;
}
.indigator-wrap .swiper-button-next,
.indigator-wrap .swiper-button-prev {
  position: static;
  width: 15px;
  height: 100%;
}
.indigator-wrap .swiper-button-next:after{
  position: absolute;
  font-size: 16px;
  color: #000;
  font-weight: bolder;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.indigator-wrap .swiper-button-prev:after {
  position: absolute;
  font-size: 16px;
  color: #000;
  font-weight: bolder;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.mySwiper .swiper-pagination {
  position: unset;
  gap: 5px;
  width: 100%;

}
.mySwiper .swiper-pagination-bullet {
  position: static;
  width: 6px;
  height: 6px;
  bottom: 0;
  z-index: 100;
  border-radius: 50px;
  background: #000;
  opacity: 0.2;
  transition: width 0.3s;
}
.mySwiper .swiper-pagination-bullet-active {
  position: relative;
  width: 40px;
  border-radius: 50px;
  background: #ddd;
  opacity: 1;
  border-radius: 50px;
  transition: width 0.3s linear;
}
.mySwiper .swiper-pagination {
  bottom: 100px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mySwiper .swiper-pagination-bullet-active::after {
  position: absolute;
  content: '';
  background: #111;
  width: 40px;
  height: 6px;
  left: 0;
  top: 0;
  border-radius: 50px;
  animation: countingBar 4s linear;
}

@keyframes countingBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}


/* 검색영역 */
.search-sec {
  display: flex;
  align-content: center;
  gap: 10px;
}
.search-wrap {
  margin-bottom: 100px;
  width: 75%;
  height: 60px;
  animation-name: fadeUp;
  animation-delay: 0.2s;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
.search-wrap form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #40258e;
  border-radius: 50px;
  transition: 0.2s;
}
.search-wrap form:hover {
  background-color: #331f70;
  transition: 0.2s;
}
.search-wrap input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 18px;
  line-height: 1.1;
}

.search-wrap input::placeholder {
  color: #fff;
}
.search-wrap button {
  position: relative;
  width: 20px;
  height: 20px;
}
.search-wrap button:before {
  position: absolute;
  content: '\f002';
  font-family: 'fontawesome';
  font-size: 18px;
  color: #fff;
  top: 0;
  right: 25px;
}
.moving-wrap {
  height: 60px;
  padding: 0px 25px;
  background-color: #000;
  color: #fff;
  border-radius: 50px;
  width: 20%;
}
.moving-wrap a{
  display: block;
  width: 100%;
  height: 100%;
}
.moving-wrap a p {
  display: block;
  width: 100%;
  line-height: 62px;
  height: 62px;
}
.moving-wrap div {
  display: none;
  height: 0;
  width: 100%;
}
.moving-wrap div img {
  display: block;
  width: 100%;
  height: 110px;
  border-radius: 10px;
}

@keyframes fadeUp {
 0% {
    opacity: 0;
    transform: translateY(50px);
  }
 
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
